    <!-- footer  -->
    <section id="footer">
        <div class="container text-center text-secondary">
         <div id="Newsletter">
             <h2>Newsletter</h2>
             <p>Get timely updates from your favourite products</p>
             <form action="">
                 <input type="text">
                 <button>Subscribe</button>
             </form>
         </div>
         <hr>
         <div id="about">
             <ul>
                 <li>Blog</li>
                 <li>FAQs</li>
                 <li>Contact us</li>
             </ul>
             <ul class="d-flex justify-content-center">
                 <li class="bi bi-facebook px-2"></li>
                 <li class="bi bi-x px-2"></li>
                 <li class="bi bi-twitter px-2"></li>
                 <li class="bi bi-linkedin px-2"></li>
             </ul>
         </div>
         <hr>
         <p> &copy 2023</p>
 
        </div>
     </section>