
{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href=" {% static 'css/bootstrap.min.css'%} ">
<link rel="stylesheet" href=" {% static 'css/bootstrap.min.css.map'%} ">
<link rel="stylesheet" href=" {% static 'css/bootstrap.rtl.css'%} ">

<link rel="stylesheet" href=" {% static 'css/bootstrap.rtl.min.css'%} ">
<link rel="stylesheet" href=" {% static 'css/bootstrap.rtl.min.css.map'%} ">
<link rel="stylesheet" href="{% static 'b-icons/bootstrap-icons.css'%}">
<link rel="stylesheet" href="{% static 'css/main.css'%}">
    <title>nike n soosh</title>

</head>
<body>
    <header>         
          <nav id="Nav" class="navbar fixed-top navbar-light bg-light">
            <div class="container-fluid">
              
               
                <!-- navbar toggler button -->
                
              <button class="navbar-toggler text-dark d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <h1 id="brandname" class="navbar-brand" style="font-size: 1.5em; display: block;"><span>Soosh</h1>
                    <!-- search button -->
              <div class="collapse" id="searchbar">
                <input class="form-control" placeholder="Search for brand, color etc." type="search">
              </div>
              <div class="d-none d-md-block " id="searchbar">
                <input style="width:150%" class="form-control" placeholder="Search for brand, color etc." type="search">
              </div>
              <button onclick="hideBrand()" id="searchbtn" class="btn-search d-md-none" type="button" data-bs-target="#searchbar" data-bs-toggle="collapse"></button>
                  <!-- >md screen size nav -->
                  <div class="d-none d-md-block">
                    <ul class="nav p-3 d-flex ">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Pricing</a>
                        </li>                  
                      </ul>
                </div>
              
              <!-- off canvas  -->
              <div class="offcanvas offcanvas-end"  id="navbarToggleExternalContent">
                <div class="offcanvas-header">
                    <div class="offcanvas-title" style="display: flex; justify-content: space-between align-items-center;">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="margin-right: 100%; margin-top: 10px;"></button>
                        <h1 class="text-end" id="" style="color: #bb3c5a;">Soosh</h1>                     
                    </div>
                    <hr>
                </div>
                    <!-- menu items -->
                <ul class="navbar-nav p-3">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>                  
                </ul>
              </div>
            </div>
          </nav>            
    </header>

    <!-- showcase sec -->
    <section id="sec1">
        <div class=" container-lg">
            <button class="btn btn-info" onclick="showNextSection()"></button>
            <div class=" row align-items-center justify-content-around ">
                <div class="col-sm-3 p-3 d-none d-md-block">
                    <img src="{% static 'images/dis3.jpg' %}" alt="" class="img-fluid ">
                </div>
                <div class="col-sm-7 g-3 d-text text-end">
                    <div>
                    <h2 class="lead my-3" style="font-weight: bolder; font-size: 2em;"> Welcome to Nike Store</h2>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, perspiciatis quisquam amet, dolorem culpa aperiam fugiat illum qui eum officiis atque, explicabo impedit ratione facere?</p>
                    <button class="px-3 py-1 my-3"> shop now </button>    
                </div>   
                </div>
            </div>
        </div>
    </section>
    <section id="sec2" class="d-none">
        <div class=" container-lg">
            <div class=" row align-items-center justify-content-around ">
                <div class="col-sm-3 p-3 d-none d-md-block">
                    <img src="{%static 'images/dis3.jpg' %}" alt="" class="img-fluid ">
                </div>
                <div class="col-sm-7 g-3 d-text text-end">
                    <div>
                    <h2 class="lead my-3" style="font-weight: bolder; font-size: 2em;"> Welcome to Nike Store</h2>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, perspiciatis quisquam amet, dolorem culpa aperiam fugiat illum qui eum officiis atque, explicabo impedit ratione facere?</p>
                    <button class="px-3 py-1 my-3"> shop now </button>    
                </div>   
                </div>
            </div>
        </div>
    </section>
   
<!-- products section -->
    <section id="products">
       
        <div class="container-fluid me-md-5">
            <h1 class="lead text-center fs-1">FEATURED PRODUCTS</h1>
            <div class="d-flex ms-md-5 ">
                <!-- products sec nav -->
                <aside class="d-none d-md-block ms-4">
                    <ul class="navbar-nav p-3">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Pricing</a>
                        </li>                  
                      </ul>
                </aside>

                <!-- products -->
                <div class="row g-0 overflow-hidden">
                    {% for product in products %}
                    <div class="col-lg-3 col-md-4 col-6 my-1">
                        <div class="card" id="item" style="width:90%;">
                            <img  src="{{ product.pic.url }}" alt="" class="card-image-top">
                            <div class="card-body" style=>
                                <p class="card-text  ">
                                    {{ product.name }}
                                </p>
                                <strong>
                                    ${{ product.price }}
                                </strong>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div> 
            </div>      
        </div>
    </section>

    <section id="footer">
       <div class="container text-center text-secondary">
        <div id="Newsletter">
            <h2>Newsletter</h2>
            <p>Get timely updates from your favourite products</p>
            <form action="">
                <input type="text">
                <button>Subscribe</button>
            </form>
        </div>
        <hr>
        <div id="about">
            <ul>
                <li>Blog</li>
                <li>FAQs</li>
                <li>Contact us</li>
            </ul>
            <ul class="d-flex justify-content-center">
                <li class="bi bi-facebook px-2"></li>
                <li class="bi bi-x px-2"></li>
                <li class="bi bi-twitter px-2"></li>
                <li class="bi bi-linkedin px-2"></li>
            </ul>
        </div>
        <hr>
        <p> &copy 2023</p>

       </div>
    </section>

    <script>
        var currentSectionIndex = 0;
        var sections = document.querySelectorAll('section');

        function showNextSection() {
            sections[currentSectionIndex].classList.add('d-none'); // Hide the current section
            currentSectionIndex = (currentSectionIndex + 1) % sections.length; // Move to the next section
            sections[currentSectionIndex].classList.remove('d-none'); // Show the next section
        }

        // Initially, show the first section
        sections[currentSectionIndex].classList.remove('d-none');

        const brandname = document.querySelector('#brandname');
        const searchbtn = document.querySelector('#searchbtn');S
        function hideBrand() {
            if(brandname.style.display ===  'block'){
                brandname.style.display = "none"
            }
            else{
                brandname.style.display = "block"
            }
            
        }
    </script>

   

<script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{%static 'js/bootstrap.bundle.min.js.map' %}"></script>

</body>
</html>