{% load static %}

<header>         
    <nav id="Nav" class="navbar fixed-top navbar-light bg-light">
      <div class="container-fluid">
        
         
          <!-- navbar toggler button -->
          
        <button class="navbar-toggler text-dark d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 id="brandname" class="navbar-brand" style="font-size: 1.5em; display: block;"><span>Soosh</h1>
              <!-- search button -->
          <div class="collapse" id="searchbar">
            <form action="">
              <div class="d-flex">
              <input class="form-control" name="q" placeholder="Search for brand, color etc." type="search">
              <button id="searchbtn3" class="bg-light"><i class="bi bi-search" style="color: black;"></i></button>
              </div>
            </form>

            </div>
            <div class="d-none d-md-block " id="searchbar">
              <form action="">
              <div class="d-flex justify-content-between">
              <input style="width:150%; margin-right: 5px;" class="form-control" name="r" placeholder="Search for brand, color etc." type="search">
              <button id="searchbtn3" class="bg-light"><i class="bi bi-search" style="color: black;"></i></button>
              </div>
            </form>

          </div>
           <div class="d-flex">
            
          <div>
             <i id='cartIcon' class="bi bi-cart4 d-md-none"></i><span class="d-md-none" id="cartCount">12</span>
          </div>
            <button onclick="hideBrand()" id="searchbtn" class="btn-search d-md-none bg-light" type="button" data-bs-target="#searchbar" data-bs-toggle="collapse"><i class="bi bi-search"></i></button>
            <button onclick="hideBrand()" id="searchbtn1" class="btn-close d-md-none bg-light" type="button" data-bs-target="#searchbar" data-bs-toggle="collapse" style="display: none;"></button>

           </div>
      
          <!-- >md screen size nav -->
            <div class="d-none d-md-block">
              <ul class="nav p-3 d-flex ">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                  </li>  
                   <!-- auth btns  -->
                   {% if request.user.is_authenticated %}
                   <li class="nav-item">
                   <a class="userProfile nav-link" href=""><span class="text-dark"><i class="bi bi-person"></i></span>{{ request.user }}</a>
                   </li>
                   {% else %}
                  <li>
                      <button class="btn btn-outline-dark"><a href=>Login</a></button>
                      <button class="btn btn-dark"><a href="{% url 'signup' %}">Sign Up</a></button>
                     </li> 

                    {% endif %}
                    <li>
                      <i class="bi bi-cart4"></i>
                    </li>               
                </ul>
          </div>
        <!-- off canvas  -->
        <div class="offcanvas offcanvas-end"  id="navbarToggleExternalContent">
          <div class="offcanvas-header">
              <div class="offcanvas-title" style="display: flex; justify-content: space-between align-items-center;">
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="margin-right: 100%; margin-top: 10px;"></button>
                  <h1 class="text-end" id="" style="color: #bb3c5a;">Soosh</h1>                     
              </div>
              <hr>
          </div>
              <!-- menu items -->
          <ul class="navbar-nav p-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'sneakers' %}">Sneakers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'electronics' %}">Electronics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Aparels</a>
            </li> 
              <!-- auth btns  -->
              {% if request.user.is_authenticated %}
              <li class="nav-item">
              <a href="" class="nav-link"> My Account</a>
              </li>
              {% else %}
             <li>
                 <button class="btn btn-outline-dark"><a href=>Login</a></button>
                 <button class="btn btn-dark"><a href="{% url 'signup' %}">Sign Up</a></button>
                </li> 

               {% endif %}                 
          </ul>
               
        </div>
      </div>
    </nav>            
</header>