{% load static %}
    <!-- showcase sec -->
    <section id="sec1">
        <div class=" container-lg">
            <button class="btn btn-info" onclick="showNextSection()"></button>
            <div class=" row align-items-center justify-content-around ">
                <div class="col-sm-3 p-3 d-none d-md-block">
                    <img src="{% static 'images/dis3.jpg' %}" alt="" class="img-fluid ">
                </div>
                <div class="col-sm-7 g-3 d-text text-satrt">
                    <div>
                    <h2 class="lead my-3" style="font-weight: bolder; font-size: 2em;"> Welcome to Nike Store</h2>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, perspiciatis quisquam amet, dolorem culpa aperiam fugiat illum qui eum officiis atque, explicabo impedit ratione facere?</p>
                    <button class="px-3 py-1 my-3"> shop now </button>    
                </div>   
                </div>
            </div>
        </div>
    </section>
    <section id="sec2" class="d-none">
        <div class=" container-lg">
            <div class=" row align-items-center justify-content-around ">
                <div class="col-sm-3 p-3 d-none d-md-block">
                    <img src="{%static 'images/dis3.jpg' %}" alt="" class="img-fluid ">
                </div>
                <div class="col-sm-7 g-3 d-text text-end">
                    <div>
                    <h2 class="lead my-3" style="font-weight: bolder; font-size: 2em;"> Welcome to Nike Store</h2>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, perspiciatis quisquam amet, dolorem culpa aperiam fugiat illum qui eum officiis atque, explicabo impedit ratione facere?</p>
                    <button class="px-3 py-1 my-3"> shop now </button>    
                </div>   
                </div>
            </div>
        </div>
    </section>
   